html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
}

nav {
    position: fixed;
    top: 10px;
    width: 75%;
    background-color: #fdfbfb54;
    padding: 30px 70px;
    z-index: 1000;
    left: 70px;
    border-radius: 6px;

}
.logo img {
    width: 80px;
    height: 1fr;
    margin-top: -17px;
    margin-bottom: -5px;
    margin-left: -45px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    font-size: 11px;
    margin-left: 600px;
    margin-top: -15px;
}


nav ul li {
    margin-right: 12px;
}

nav ul li a {
    color: white;
    text-decoration: none ;
}

footer {
    padding: 50px 70px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main {
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
}

.profile-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.profile {
    background-color: #1d1d1d;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}

.profile-pic {
    width: 1fr;
    height: 400px;
    border-radius: 4%;
    object-fit: cover;
    margin-bottom: 15px;
}

h1 {
    font-size: 21px;
    margin-top: -2px;
    margin-bottom: 10px;
    color: #fff;
    text-align: left;
    margin-left: 4px;
}

p {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: -2px;
    margin-left: 4px;
    color: #fff;
    text-align: left;
}

.buttons button {
    background-color: #ecab498e;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 1.5px;
    cursor: pointer;
    opacity: 89%;
}

.buttons button:hover {
    background-color: #36270b81;
}

.expert-area {
    flex-grow: 1;
    text-align: right;
}

.expert-area h2 {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: right;
    color: #ecab498e;

}

.bloc{
    background-color: #1d1d1d;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.skill1 {
    background-color: #333;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.skill1  p {
    font-size: 17px;
    text-align: center;
    padding-top: -3px;
    color: #050505;
}

.skill1  img{
    width: 50px;
    text-align: center;
}

.skill2 {
    background-color: #333;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.skill2  p {
    font-size: 17px;
    text-align: center;
    padding-top: -3px;
    color: #050505;
}

.skill2 img{
    width: 50px;
    text-align: center;
}

.skill3 {
    background-color: #333;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.skill3  p {
    font-size: 17px;
    text-align: center;
    padding-top: -3px;
    color: #050505;
}

.skill3 img{
    width: 50px;
    text-align: center;
}

.skill4 {
    background-color: #333;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.skill4  p {
    font-size: 17px;
    text-align: center;
    padding-top: -3px;
    color: #050505;
}

.skill4 img{
    width: 50px;
    text-align: center;
}

.skill5 {
    background-color: #333;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.skill5  p {
    font-size: 17px;
    text-align: center;
    padding-top: -3px;
    color: #050505;
}

.skill5 img{
    width: 50px;
    text-align: center;
}

.skill6 {
    background-color: #333;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.skill6  p {
    font-size: 17px;
    text-align: center;
    padding-top: -3px;
    color: #050505;
}

.skill6 img{
    width: 50px;
    text-align: center;
}

.text0 {
    margin-top: 20px;
    background-color: #1d1d1d;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.text0 p {
  font-size: 16px;
  text-align: left;
  color: #808080;
}

.description {
    margin: 30px 0;
    font-size: 18px;
}

footer {
    margin-top: 50px;
    text-align: center;
}
section {
    padding: 70px;
}

#projects .projects-container {
    display: flex;
    justify-content: space-between;
}

#projects .project {
    width: 30%;
    text-align: center;
}

#projects .project img {
    width: 100%;
    height: auto;
}

#projects .project button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#testimonials {
    background-color: #f1f1f1;
    padding: 70px;
    text-align: center;
}

#contact a {
    color: #333;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
    color: #fff;
}
.text1 p {
    text-align: center;
    padding-top: 63px;
    color: #303030;
    font-size: 10px;
}